@main-color: #3764e1;
.comp-header {
  background-color: transparent;
  font-size: 30px;
  font-family: fantasy;

  .logo {
    // color: @main-color;
    color: #fff;
  }

  .btns {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    // font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: poppin;
    button {
      font-weight: bold;
    }
  }
  .middle {
    img {
      width: 20px;
      height: 10px;
    }
  }
}
