.comp-header {

  background-color: transparent;
  font-size: 30px;
  font-family: fantasy;

  .logo {
    color: #fff;
  }

  .btns {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    // font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: poppin;
  }
}